<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<br>
<div class="container">
    <h3 [translate]="'HR.Update'"></h3>
    <br>
    <form #frm="ngForm" (ngSubmit)="update()">
        <div class="form-row">

            <div class="col-md-4">
                <select required [(ngModel)]="courseObj.trainingTypeID" name="sel2" class="form-control">Category
                    <option value="" selected disabled hidden>Category</option>
                    <option *ngFor="let item of TrainingTypesList"
                        [selected]="courseObj.trainingTypeID==item.id ? true : null" value="{{item.id}}">
                        {{item.trainingTypeName}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <input [(ngModel)]="courseObj.courseName" type="text" #courseName="ngModel"
                    [class.is-invalid]="courseName.invalid && courseName.touched" [class.is-valid]="courseName.valid"
                    required minlength="3" name="courseName" id="crsName" class="form-control"
                    [placeholder]="'HR.name' | translate" aria-describedby="helpId">
                <small [hidden]="courseName.valid || courseName.untouched" id="helpId" class="text-muted"
                    [translate]="'HR.messege'"></small>
            </div>
        </div>
        <br>
        <br>
        <button id="Add" type="submit" [disabled]="frm.invalid" class="btn btn-primary"
            [translate]="'HR.Update'"></button>
    </form>
</div>
<br>