<div class="col-md-12 datetime" >
<br>
   <span>{{now | date :'dd/MM/yyyy' }}</span> 
    <span style="padding-left: 10px;" >
    {{now | date: 'hh:mm:ss' }}</span>
    </div>
    
    <p-pickList [source]="AttendOutEmployees" [target]="AttendINEmployees" sourceHeader="{{'HR.OUT' | translate}}"
    targetHeader="{{'HR.IN' | translate}}" dragdrop="true" (onMoveToSource)="moved($event.items)" (onMoveToTarget)="movedInagain($event.items)"
        [responsive]="true" [sourceStyle]="{'height':'350px'}" [targetStyle]="{'height':'350px'}" filterBy="name"
        sourceFilterPlaceholder="{{'HR.Employee Name' | translate}}" targetFilterPlaceholder="{{'HR.Employee Name' | translate}}" >
        <ng-template let-employee pTemplate="item">
            <div class="product-item">
            <div class="image-container">
                <img class="img-thumbnail" src="{{getimage}}api/employees/getImage/{{employee.photo }}"
                    [alt]="employee.name" class="employee-image" />
            </div>
                <div class="product-list-detail">
                    <h4 class="p-mb-2">{{employee.name}}</h4>
                    <!-- <i class="pi pi-tag employee-category-icon"></i> -->
                    <span class="product-category">{{'HR.Profession Name' | translate}} : {{employee.profession}}</span> ||
                    <span *ngIf="employee.existInSource" class="product-category">{{'HR.IN' | translate}} : {{employee.time | date: 'hh:mm:ss' }}</span>
                    <span *ngIf="!employee.existInSource" class="product-category">{{'HR.OUT' | translate}} : {{employee.time | date: 'hh:mm:ss' }}</span>
                </div>
                <!-- <div *ngIf="employee.existInSource" class="product-list-action">
                    <h6 class="p-mb-2">{{now | date: 'hh:mm:ss' }}</h6>
                </div>
                <div *ngIf="!employee.existInSource" class="product-list-action">
                    <h6 class="p-mb-2">{{employee.time| date: 'hh:mm:ss' }}</h6>
                </div> -->
            </div>
        </ng-template>
    </p-pickList>