<div class="container">
    <div class="row">
        <div id="card">
            <div id="chart">
                <apx-chart
                 [series]="chartOptionsExcusesesNumber.series"
                  [chart]="chartOptionsExcusesesNumber.chart"
                    [plotOptions]="chartOptionsExcusesesNumber.plotOptions"
                     [labels]="chartOptionsExcusesesNumber.labels"
                    [stroke]="chartOptionsExcusesesNumber.stroke"
                     [fill]="chartOptionsExcusesesNumber.fill"
                     ></apx-chart>
            </div>
        </div>

        <!--The content below is only a placeholder and can be replaced.-->
        <div class=" fontsty">
            <h4>                       
              <span class="circle">{{employeeNumber}}</span>{{"HR.Employees"|translate}}</h4>
            
        </div>
        <div id="chart" class="col">
            <apx-chart
             [series]="chartOptionsEmployees.series"
              [chart]="chartOptionsEmployees.chart"
               [labels]="chartOptionsEmployees.labels"
                [responsive]="chartOptionsEmployees.responsive"></apx-chart>
        </div>
    </div>
    <div class="row">
        <div id="chart">
            <apx-chart
              [series]="ChartOptionsExcusesTypes.series"
              [chart]="ChartOptionsExcusesTypes.chart"
              [dataLabels]="ChartOptionsExcusesTypes.dataLabels"
              [plotOptions]="ChartOptionsExcusesTypes.plotOptions"
              [responsive]="ChartOptionsExcusesTypes.responsive"
              [xaxis]="ChartOptionsExcusesTypes.xaxis"
              [legend]="ChartOptionsExcusesTypes.legend"
              [fill]="ChartOptionsExcusesTypes.fill"
            ></apx-chart>
          </div>
    </div>
</div>