<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c"  [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <!-- <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button> -->
                </div>
                <div class="p-col-6">
                    <!-- <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button> -->
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<body>
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form (submit)="onSubmit($event)" id="login-form" class="form" action="" method="post">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                          <label for="username" class="text-info">Username:</label><br>
                          <input id="k" type="text" [(ngModel)]="user.email" name="username" id="username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-info">Password:</label><br>
                          <input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                          <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                      </div>
                      <div id="register-link" class="text-right">
                          <a href="#" class="text-info">Register here</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</body>