<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="container">
    <p-table id="my-table" class="container card" #dt dataKey="id" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" 
        [globalFilterFields]="['facultyName','universityName','facultyDepartmentName']" [value]="lstFacultyDepartments">
        <ng-template pTemplate="caption">
            <h1 [translate]="'HR.DisplayFacultydepartments'" style="margin-bottom: 20px; font-size: 2em;color: #2674a8;"></h1>
            <div class="row">
                <div class="table-header col-md-10">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            [placeholder]="'HR.Global Search' | translate" />
                    </span>
                </div>
                <div class="col-md-2">
                    <button id="addEmpBtn" (click)="NewDialog()" class="btn btn-outline-primary btn-md btn-block">
                        <span class="pi pi-plus" [translate]="'HR.Add'"></span> </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr style="height: 5px !important; ">
                <th pSortableColumn="universityName"><span [translate]="'HR.University Name'"></span>
                    <p-sortIcon field="universityName"></p-sortIcon>
                </th>
                <th pSortableColumn="facultyName"><span [translate]="'HR.Faculty Name'"></span>
                    <p-sortIcon field="facultyName"></p-sortIcon>
                </th>
                <th pSortableColumn="facultyDepartmentName"><span [translate]="'HR.Faculty Department Name'"></span>
                    <p-sortIcon field="facultyDepartmentName"></p-sortIcon>
                </th>
                <th [translate]="'HR.Controls'"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-faculty>
            <tr style="height: 5px !important;font-size: 17px;">

                <td>{{faculty.universityName}}</td>
                <td>{{faculty.facultyName}}</td>
                <td>{{faculty.facultyDepartmentName}}</td>
                <td>
                    <span class="pi pi-compass btn" aria-hidden="true" (click)="showBasicDialog(faculty.id)"></span>
                    <button class="btn pi pi-pencil" aria-hidden="true" (click)="EditDialog(faculty.id)"></button>
                    <button class="btn pi pi-times" (click)="confirm(faculty.id)" aria-hidden="true"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [header]="'HR.Details' | translate" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <div class="row">
        <div class="col-md-12 col-lg-12 form-control"><span class="bold" [translate]="'HR.Faculty Name'"></span>&nbsp;:
            {{facultyDepartmentObj.facultyName}}
        </div>
        <div class="col-md-12 col-lg-12 form-control"><span class="bold" [translate]="'HR.University Name'"></span>&nbsp;:
            {{facultyDepartmentObj.universityName}}
        </div>
        <div class="col-md-12 col-lg-12 form-control"><span class="bold" [translate]="'HR.Faculty Department Name'"></span>&nbsp;:
            {{facultyDepartmentObj.facultyDepartmentName}}
        </div>
    </div>
</p-dialog>

<form>
    <p-dialog [header]="'HR.Update' | translate" [(visible)]="Editboolean" [style]="{width: '50vw'}"
        [baseZIndex]="10000">
        <div class="row">
            <div class="col-6">
                <label [translate]="'HR.Faculty Name'"></label>
                <select [(ngModel)]="facultyDepartmentObj.facultyId" name="sel2" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option *ngFor="let item of lstFacultyDepartments" value="{{item.id}}">{{item.facultyName}}</option>
                </select>
            </div>
            <div class="col-6">
                <label for="time" [translate]="'HR.Faculty Department Name'"></label>
                <input name="facultyDepartmentName" type="text" class="form-control" [(ngModel)]="facultyDepartmentObj.facultyDepartmentName"
                    inputId="date">
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button (onClick)="update(facultyDepartmentObj.id)" type="submit" icon="pi pi-check" [label]="'HR.Save' | translate"
                styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displayBasic=false" [label]="'HR.Cancel' | translate"></p-button>
        </ng-template>

    </p-dialog>
</form>

<form #frm="ngForm">
    <p-dialog [header]="'HR.New Faculty Department' | translate" [(visible)]="NewDialogbool" [style]="{width: '50vw'}"
        [baseZIndex]="10000">
        <div class="row">
            <div class="col-4">
                <label [translate]="'HR.UniversityName'"></label>
                <select (change)="onchangeUniversity($event)" [(ngModel)]="facultyDepartmentObj.universityID" name="sel2" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option *ngFor="let item of lstUniversities" value="{{item.id}}">{{item.universityName}}</option>
                </select>
            </div>
            <div class="col-4">
                <label [translate]="'HR.Faculty Name'"></label>
                <select [value]="0" [(ngModel)]="facultyDepartmentObj.facultyId" name="sel2" class="form-control">
                    <option value="0" selected>{{'HR.FacultyName'| translate}}</option>
                    <option *ngFor="let item of lstFaculties" value="{{item.id}}">{{item.facultyName}}</option>
                </select>
            </div>
            <div class="col-4">
                <label for="time" [translate]="'HR.Faculty Department Name'"></label>
                <input name="facultyDepartmentName" type="text" class="form-control" [(ngModel)]="facultyDepartmentObj.facultyDepartmentName"
                    inputId="date">
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button (onClick)="add()" [disabled]="frm.invalid" type="submit" icon="pi pi-check"
                [label]="'HR.Save' | translate" styleClass="p-button-text">
            </p-button>
            <p-button icon="pi pi-times" (click)="NewDialogbool=false" [label]="'HR.Cancel' | translate"></p-button>
        </ng-template>

    </p-dialog>
</form>