
    <div class="container card">
        <br>
        <p style="font-size: xx-large;" [translate]="'HR.Excuse Report'"></p>
        <form (ngSubmit)="Filter()">
            <div class="row">
            <div class="col-md-3">
                <span  for="Profession" [translate]="'HR.Profession Name'"></span>
                <select (change)="onChange($event.target.value)" [(ngModel)]="NewExcuse.professionID" name="Profession"
                    class="form-control">Profession
                    <option value="" selected disabled hidden>Profession</option>
                    <option *ngFor="let item of AllProfessions" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <br>
            <div class="col-md-3">
                <span  for="Employee" [translate]="'HR.Employee Name'"></span>
                <select [(ngModel)]="NewExcuse.employeeId" name="Employee" class="form-control">Employee
                    <option *ngFor="let item of AllEmployeesByProfession" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <br>
            <div class="col-md-3">
                <span  for="time" [translate]="'HR.Start Date'"></span>
                <input name="date" value={{NewExcuse.startdate}} type="date" class="form-control"
                    [(ngModel)]="NewExcuse.startdate" inputId="date">
            </div>
            <br>
            <div class="col-md-3">
                <span  for="time" [translate]="'HR.End Date'"></span>
                <input name="date" value={{NewExcuse.endDate}} type="date" class="form-control"
                    [(ngModel)]="NewExcuse.endDate" inputId="date">
            </div>
        </div>
            <br>
            <button id="Add" type="submit" class="btn btn-primary" [translate]="'HR.Filter'"></button>
        </form>
        <br>
    </div>
    <br>
<div class="container">
    <p-table id="my-table" class="container card" #dt dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" 
    [globalFilterFields]="['employeeName','professionName','date','time','hours','approved']"
    [value]="FilteredExcuses">
    <ng-template pTemplate="caption">
        <div class="row">
            <div class="table-header col-md-10">
                <!-- List of Employees -->

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        [placeholder]="'HR.Global Search' | translate" />
                </span>
            </div>
            <div class="col-md-2">
                <button id="addEmpBtn" (click)="DownloadReport()" class="btn btn-outline-primary btn-md btn-block">
                    <span class="pi pi-plus" [translate]="'HR.Download'"></span> </button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr style="height: 5px !important; ">
            <th style="text-align: inherit;"  pSortableColumn="employeeName"><span [translate]="'HR.Employee Name'"></span>
                <p-sortIcon field="employeeName"></p-sortIcon>
            </th>
            <th style="text-align: inherit;" pSortableColumn="professionName"><span [translate]="'HR.Profession Name'"></span>
                <p-sortIcon field="professionName"></p-sortIcon>
            </th>
            <th style="text-align: inherit;" pSortableColumn="date">
                <span [translate]="'HR.Date'"></span>
                <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th style="text-align: inherit;" pSortableColumn="time">
                <span [translate]="'HR.Time'"></span>
                <p-sortIcon field="time"></p-sortIcon>

            </th>
            <th style="text-align: inherit;" pSortableColumn="hours">
                <span [translate]="'HR.Hours'"></span>
                <p-sortIcon field="hours"></p-sortIcon>
            </th>
            <th  style="text-align: inherit;" [translate]="'HR.Status'">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Excuse>
        <tr style="height: 5px !important;font-size: 17px;text-align: inherit;">
            <td style="text-align: inherit;">{{Excuse.employeeName}}</td>
            <td style="text-align: inherit;">{{Excuse.professionName}}</td>
            <td style="text-align: inherit;">{{Excuse.date | date :'dd-MM-yyyy'}}</td>
            <td style="text-align: inherit;">{{Excuse.time}}</td>
            <td style="text-align: inherit;">{{Excuse.hours}}</td>
            <td id="status" *ngIf="Excuse.approved=='approved'" style="text-align: inherit;">
                <div style="cursor:unset;" class="btn btn-success">
                    {{'HR.Approved' | translate}}
                </div>
            </td>
            <td id="status" *ngIf="Excuse.approved=='disapproved' " style="text-align: inherit;">
                <div style="cursor:unset;" class="btn btn-danger">
                    {{'HR.Rejected' | translate}}

                </div>
            </td>
            <td id="status" *ngIf="Excuse.approved=='pending' " style="text-align: inherit;">
                <div style="cursor:unset;" class="btn btn-warning">
                    {{'HR.Pending' | translate}}

                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>