<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>


<p-table #dt [value]="InstructorList" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['instructorName','email','phone','address','hiringDate']">
    <ng-template pTemplate="caption">
        <div class="row">
            <div class="table-header col-md-10" [translate]="'HR.List Of Instructors'">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        [placeholder]="'HR.Global Search' | translate" />
                </span>
            </div>
            <div class="col-md-2">
                <button id="AddInstructor" routerLink="/AddInstructor" class="btn btn-outline-primary btn-md btn-block">
                    <span class="pi pi-plus" [translate]="'HR.Add'"></span> </button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [translate]="'HR.Instructor Name'"></th>
            <th [translate]="'HR.Email'"></th>
            <th [translate]="'HR.phone'"></th>
            <th [translate]="'HR.Address'"></th>
            <th [translate]="'HR.HiringDate'"></th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input style="width: 100%" pInputText type="text"
                    (input)="dt.filter($event.target.value, 'instructorName', 'contains')"
                    [placeholder]="'HR.Instructor Name' | translate" class="p-column-filter">
            </th>
            <th>
                <input style="width: 100%" pInputText type="text"
                    (input)="dt.filter($event.target.value, 'email', 'contains')"
                    [placeholder]="'HR.Email' | translate" class="p-column-filter">
            </th>
            <th>
                <input style="width: 100%" pInputText type="text"
                    (input)="dt.filter($event.target.value, 'phone', 'contains')"
                    [placeholder]="'HR.phone' | translate" class="p-column-filter">
            </th>
            <th>
                <input style="width: 100%" pInputText type="text"
                    (input)="dt.filter($event.target.value, 'address', 'contains')"
                    [placeholder]="'HR.Address' | translate" class="p-column-filter">
            </th>
            <th>
                <input style="width: 100%" pInputText type="text"
                    (input)="dt.filter($event.target.value, 'hiringDate', 'contains')"
                    [placeholder]="'HR.HiringDate' | translate" class="p-column-filter">
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-InstructorObj>
        <tr>
            <td>
                {{InstructorObj.instructorName}}
            </td>
            <td>
                {{InstructorObj.email}}
            </td>
            <td>
                {{InstructorObj.phone}}
            </td>
            <td>
                {{InstructorObj.address}}
            </td>
            <td>
                {{InstructorObj.hiringDate |date :'dd-MM-yyyy'}}
            </td>
            <td>
                <div style="margin-left: 10%;" class="row">
                    <button (click)="showBasicDialog(InstructorObj.id)" class="btn btn-success c-btn">
                        <i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button [routerLink]="['/EditInstructor',InstructorObj.id]" class="btn btn-primary c-btn">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button (click)="confirm(InstructorObj.id)" style="display: flex;" class="btn btn-danger c-btn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6" [translate]="'HR.No data found'"></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [header]="'HR.Details' | translate" [(visible)]="displayBasic" [style]="{width: '70vw'}" [baseZIndex]="10000">
    <div class="row">
        <div class="col-md-4 form-control"><span class="bold" [translate]="'HR.Instructor Name'"></span>:
            {{InstructorObj.instructorName}}</div>
        <br>
        <div class="col-md-4 form-control"><span class="bold"
                [translate]="'HR.Email'"></span>{{InstructorObj.email}}
        </div>
        <br>
        <div class="col-md-4 form-control"><span class="bold" [translate]="'HR.phone'"></span>:
            {{InstructorObj.phone}}</div>
    </div>
    <div class="row">
        <div class="col-md-4 form-control"><span class="bold"
                [translate]="'HR.Address'"></span> {{InstructorObj.address}}</div>
        <br>
        <div class="col-md-4 form-control"><span class="bold" [translate]="'HR.HiringDate'"></span>:
            {{InstructorObj.hiringDate|date :'dd-MM-yyyy'}}</div>
        <br>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [routerLink]="['/EditInstructor',InstructorObj.id]" [label]="'HR.Update' | translate"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" [label]="'HR.No' | translate"></p-button>
    </ng-template>
</p-dialog>