<br>
<div class="container">
    <h3 [translate]="'HR.New Leave Type'"
    ></h3>
    <br>
    <form  #frm="ngForm" (ngSubmit)="AddleaveType()">
        <div class="form-row">
            <div class="col-md-3">
                <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                [class.is-valid]="name.valid" [(ngModel)]="leaveTypeObj.name" required minlength="3"
                name="name" id="name" class="form-control" [placeholder]="'HR.name' | translate"
                aria-describedby="helpId">
            <small [hidden]="name.valid || name.untouched" id="helpId" class="text-muted" [translate]="'HR.messege'"
            ></small>
            </div>
        </div>
        <br>
        <button id="AddCategory" type="submit" [disabled]="frm.invalid" class="btn btn-primary" [translate]="'HR.Add'"
        ></button>
    </form>
</div>
<br>